/*  
   =========
     Fonts
   =========
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*  
   =============
     Variables
   =============
*/
$font: "Roboto", sans-serif;
$white: rgb(255, 255, 255);
$grey: rgb(243, 243, 243);
$dark-grey: rgb(220, 220, 220);
$pink: rgb(255, 222, 222);
$black: rgb(0, 0, 0);
$time-grey: rgb(170, 170, 170);
$button-grey: rgb(231, 231, 231);
$button-text-grey: rgb(105, 105, 105);
$check-green: rgb(40, 187, 37);
$width: 100vw;
$sideMenuWidth: 259px;
$height: 100vh;

/*  
   =================
     Global Styles
   =================
*/
::-webkit-scrollbar {
     display: none;
}
* {
     box-sizing: border-box;
}
.dsp-flex {
     display: flex;
     justify-content: space-between;
     align-items: center;
}
body {
     width: $width;
     height: $height;
     background-color: $grey;
     font-family: $font;
     font-weight: 400;
     display: grid;
}
/*  
   ===============
     Chat layout
   ===============
*/
div.messagesContainer {
     grid-column: 1;
     grid-row: 1;

     header.mainPage {
          background-color: $white;
          width: $width;
          height: 80px;
          padding: 0 22px;
          box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05);

          ion-icon {
               width: 45px;
               height: 45px;
          }
     }
     main {
          height: calc($height - 166px);
          overflow: scroll;
     }
     ul {
          padding-top: 26px;
     }
     footer {
          background-color: $white;
          width: $width;
          height: 80px;
          padding-left: 18px;
          box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.05);

          ion-icon {
               width: 32px;
               height: 100%;
               margin: 0 18px;
          }
          ::-webkit-input-placeholder {
               color: $black;
          }
          input {
               height: 30px;
               color: $black;
               border: none;
               font-size: 18px;
               line-height: 21px;
               letter-spacing: 0em;
               text-align: left;

               &:placeholder-shown {
                    font-style: italic;
                    width: 145px;
               }
               &:not(:placeholder-shown) {
                    width: 80%;
               }
               &:focus {
                    outline: none;
               }
               &:focus::placeholder {
                    color: transparent;
               }
          }
     }
}
/*  
   ============
     Messages
   ============
*/
li.msg {
     width: $width;
     min-height: 40px;
     padding: 8.5px 9px 8.5px 8px;
     font-size: 14px;
     line-height: 23px;
     display: flex;
     margin-bottom: 4px;

     &.status {
          background-color: $dark-grey;
     }
     &.message {
          background-color: $white;
     }
     &.private_message {
          background-color: $pink;
     }
     p {
          height: 23px;
     }
}
/*  
   =============
     Side Menu
   =============
*/
div.sideMenuContainer {
     visibility: hidden;
     grid-column: 1;
     grid-row: 1;
     width: $width;
     height: $height;
     z-index: 1;
     display: flex;

     &.clicked {
          visibility: visible;
     }
     div.blackOpaque {
          width: calc($width - $sideMenuWidth);
          height: $height;
          background-color: $black;
          opacity: 0.6;
     }
     div.sideMenu {
          height: $height;
          background-color: $white;
          width: $sideMenuWidth;
          padding: 0 20px;

          div.title {
               color: $black;
               font-weight: 700;
               height: 84px;
               font-size: 16px;
               line-height: 19px;
               justify-content: center;
               text-align: center;

               &:nth-of-type(2) {
                    height: 57px;
                    padding-top: 9px;
               }
          }
          li {
               width: 100%;
               height: 36px;
               font-size: 16px;
               line-height: 40px;
               padding: 0;
               margin: 0;
               display: flex;
               justify-content: space-between;

               p {
                    display: flex;
               }
               ion-icon {
                    width: 22px;
                    height: 40px;
               }
               & > ion-icon {
                    // visibility: hidden;
                    color: $check-green;
                    // border: 3px solid $check-green;
                    width: 14px;
                    stroke-width: 2;

                    &.check {
                         visibility: visible;
                    }
               }
          }
          ul.users {
               li {
                    ion-icon {
                         width: 25px;
                    }
                    & > ion-icon {
                         // visibility: hidden;
                         color: $check-green;
                         // border: 3px solid $check-green;
                         width: 14px;
                         stroke-width: 2;

                         &.check {
                              visibility: visible;
                         }
                    }
               }
          }
     }
}
