/*  
   =========
     Fonts
   =========
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*  
   =============
     Variables
   =============
*/
/*  
   =================
     Global Styles
   =================
*/
::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

.dsp-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(243, 243, 243);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  display: grid;
}

/*  
   ==============
     login Page
   ==============
*/
main.loginPage {
  background-color: rgb(255, 255, 255);
}
main.loginPage img {
  width: 130px;
  position: absolute;
  top: 14vh;
  left: calc((100vw - 130px) / 2);
}
main.loginPage ::-webkit-input-placeholder {
  color: rgb(170, 170, 170);
}
main.loginPage input {
  width: 261px;
  height: 54px;
  color: rgb(170, 170, 170);
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: rgb(170, 170, 170);
  border: 1px solid rgb(220, 220, 220);
  border-radius: 4px;
  position: absolute;
  top: 42.7vh;
  left: calc((100vw - 261px) / 2);
}
main.loginPage input:focus {
  outline: none;
}
main.loginPage input:focus::-moz-placeholder {
  color: transparent;
}
main.loginPage input:focus:-ms-input-placeholder {
  color: transparent;
}
main.loginPage input:focus::placeholder {
  color: transparent;
}
main.loginPage button {
  width: 109px;
  height: 45px;
  border: none;
  border-radius: 9px;
  margin-top: 15px;
  font-size: 18px;
  line-height: 25px;
  background-color: rgb(231, 231, 231);
  color: rgb(105, 105, 105);
  position: absolute;
  top: calc(42.7vh + 69px);
  left: calc((100vw - 109px) / 2);
  transition: box-shadow 0.1s;
}
main.loginPage button:hover {
  cursor: pointer;
}
main.loginPage button:active {
  box-shadow: rgba(0, 0, 0, 0.24) 0px -3px 8px inset;
}

/*  
   ===============
     Chat layout
   ===============
*/
div.messagesContainer {
  grid-column: 1;
  grid-row: 1;
}
div.messagesContainer header.mainPage {
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 80px;
  padding: 0 22px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05);
}
div.messagesContainer header.mainPage ion-icon {
  width: 45px;
  height: 45px;
}
div.messagesContainer main {
  height: calc(100vh - 166px);
  overflow: scroll;
}
div.messagesContainer ul {
  padding-top: 26px;
}
div.messagesContainer footer {
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 80px;
  padding-left: 18px;
  box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.05);
}
div.messagesContainer footer ion-icon {
  width: 32px;
  height: 100%;
  margin: 0 18px;
}
div.messagesContainer footer ::-webkit-input-placeholder {
  color: rgb(0, 0, 0);
}
div.messagesContainer footer input {
  height: 30px;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
div.messagesContainer footer input:-moz-placeholder-shown {
  font-style: italic;
  width: 145px;
}
div.messagesContainer footer input:-ms-input-placeholder {
  font-style: italic;
  width: 145px;
}
div.messagesContainer footer input:placeholder-shown {
  font-style: italic;
  width: 145px;
}
div.messagesContainer footer input:not(:-moz-placeholder-shown) {
  width: 80%;
}
div.messagesContainer footer input:not(:-ms-input-placeholder) {
  width: 80%;
}
div.messagesContainer footer input:not(:placeholder-shown) {
  width: 80%;
}
div.messagesContainer footer input:focus {
  outline: none;
}
div.messagesContainer footer input:focus::-moz-placeholder {
  color: transparent;
}
div.messagesContainer footer input:focus:-ms-input-placeholder {
  color: transparent;
}
div.messagesContainer footer input:focus::placeholder {
  color: transparent;
}

/*  
   ============
     Messages
   ============
*/
li.msg {
  width: 100vw;
  min-height: 40px;
  padding: 8.5px 9px 8.5px 8px;
  font-size: 14px;
  line-height: 23px;
  display: flex;
  margin-bottom: 4px;
}
li.msg.status {
  background-color: rgb(220, 220, 220);
}
li.msg.message {
  background-color: rgb(255, 255, 255);
}
li.msg.private_message {
  background-color: rgb(255, 222, 222);
}
li.msg p {
  height: 23px;
}

/*  
   =============
     Side Menu
   =============
*/
div.sideMenuContainer {
  visibility: hidden;
  grid-column: 1;
  grid-row: 1;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: flex;
}
div.sideMenuContainer.clicked {
  visibility: visible;
}
div.sideMenuContainer div.blackOpaque {
  width: calc(100vw - 259px);
  height: 100vh;
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
}
div.sideMenuContainer div.sideMenu {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  width: 259px;
  padding: 0 20px;
}
div.sideMenuContainer div.sideMenu div.title {
  color: rgb(0, 0, 0);
  font-weight: 700;
  height: 80px;
  font-size: 16px;
  line-height: 19px;
  justify-content: center;
  text-align: center;
  margin: 4px 0;
}
div.sideMenuContainer div.sideMenu div.title:nth-of-type(2) {
  height: 53px;
  padding-top: 9px;
}
div.sideMenuContainer div.sideMenu li {
  width: 100%;
  height: 36px;
  font-size: 16px;
  line-height: 40px;
  padding: 0;
  margin: 1px 0;
  display: flex;
  justify-content: space-between;
}
div.sideMenuContainer div.sideMenu li p {
  display: flex;
}
div.sideMenuContainer div.sideMenu li ion-icon {
  width: 22px;
  height: 40px;
}
div.sideMenuContainer div.sideMenu li > ion-icon {
  color: rgb(40, 187, 37);
  width: 14px;
  stroke-width: 2;
}
div.sideMenuContainer div.sideMenu li > ion-icon.check {
  visibility: visible;
}
div.sideMenuContainer div.sideMenu ul.users li ion-icon {
  width: 25px;
}
div.sideMenuContainer div.sideMenu ul.users li > ion-icon {
  color: rgb(40, 187, 37);
  width: 14px;
  stroke-width: 2;
}
div.sideMenuContainer div.sideMenu ul.users li > ion-icon.check {
  visibility: visible;
}/*# sourceMappingURL=style.css.map */