/*  
   =========
     Fonts
   =========
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*  
   =============
     Variables
   =============
*/
/*  
   =================
     Global Styles
   =================
*/
::-webkit-scrollbar {
  display: none;
}

* {
  cursor: default;
  box-sizing: border-box;
}

.dsp-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  width: 100vw;
  background-color: rgb(243, 243, 243);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  display: grid;
}

/*  
   ==============
     login Page
   ==============
*/
main.loginPage {
  background-color: rgb(255, 255, 255);
}
main.loginPage img {
  width: 130px;
  position: absolute;
  left: calc((100vw - 130px) / 2);
}
main.loginPage ::-webkit-input-placeholder {
  color: rgb(170, 170, 170);
}
main.loginPage input#userName {
  width: 261px;
  height: 54px;
  color: rgb(170, 170, 170);
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 4px;
  position: absolute;
  left: calc((100vw - 261px) / 2);
}
main.loginPage input#userName:hover {
  cursor: pointer;
}
main.loginPage input#userName:focus {
  outline: none;
}
main.loginPage input#userName:focus::-moz-placeholder {
  color: transparent;
}
main.loginPage input#userName:focus:-ms-input-placeholder {
  color: transparent;
}
main.loginPage input#userName:focus::placeholder {
  color: transparent;
}
main.loginPage input#userName.hidden {
  display: none;
}
main.loginPage button#loginButton {
  width: 109px;
  height: 45px;
  border: none;
  border-radius: 9px;
  margin-top: 15px;
  font-size: 18px;
  line-height: 25px;
  background-color: rgb(231, 231, 231);
  color: rgb(105, 105, 105);
  position: absolute;
  left: calc((100vw - 109px) / 2);
  transition: box-shadow 0.1s;
}
main.loginPage button#loginButton:hover {
  cursor: pointer;
}
main.loginPage button#loginButton:active {
  box-shadow: rgba(0, 0, 0, 0.24) 0px -3px 8px inset;
}
main.loginPage button#loginButton.hidden {
  display: none;
}
main.loginPage img:last-of-type.hidden {
  visibility: none;
  z-index: -2;
  display: none;
  color: transparent;
  min-width: 0;
  width: 0;
}
main.loginPage .loader {
  color: rgb(0, 0, 0);
  font-size: 25px;
  display: flex;
  justify-content: center;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  transform: translateZ(0);
}
main.loginPage .loader.hidden {
  display: none;
}
@-webkit-keyframes load4 {
  0%, 100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%, 100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
main.loginPage p#errorMessage {
  width: 261px;
  text-align: center;
  color: red;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: calc((100vw - 261px) / 2);
}
main.loginPage p#errorMessage.hidden {
  display: none;
}

/*  
   ===============
     Chat layout
   ===============
*/
div.messagesContainer {
  grid-column: 1;
  grid-row: 1;
}
div.messagesContainer header.mainPage {
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 80px;
  padding-left: 22px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05);
}
div.messagesContainer header.mainPage img {
  margin-top: 2px;
  width: 75px;
}
div.messagesContainer header.mainPage ion-icon {
  width: 45px;
  height: 45px;
  padding: 17.5px 22px;
}
div.messagesContainer header.mainPage ion-icon:hover {
  cursor: pointer;
}
div.messagesContainer main {
  overflow-y: scroll;
  overflow-x: hidden;
}
div.messagesContainer ul {
  padding-top: 26px;
}
div.messagesContainer footer {
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 80px;
  padding-left: 18px;
  box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.05);
}
div.messagesContainer footer ion-icon {
  width: 32px;
  height: 100%;
  padding: 0 18px;
}
div.messagesContainer footer ion-icon:hover {
  cursor: pointer;
}
div.messagesContainer footer > div {
  padding: 15px 0 1px 0;
}
div.messagesContainer footer > div ::-webkit-input-placeholder {
  color: rgb(0, 0, 0);
}
div.messagesContainer footer > div input {
  height: 30px;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
div.messagesContainer footer > div input:hover {
  cursor: pointer;
}
div.messagesContainer footer > div input:-moz-placeholder-shown {
  font-style: italic;
  width: calc((100vw - 86px) * 0.8);
}
div.messagesContainer footer > div input:-ms-input-placeholder {
  font-style: italic;
  width: calc((100vw - 86px) * 0.8);
}
div.messagesContainer footer > div input:placeholder-shown {
  font-style: italic;
  width: calc((100vw - 86px) * 0.8);
}
div.messagesContainer footer > div input:not(:-moz-placeholder-shown) {
  width: calc(100vw - 86px);
}
div.messagesContainer footer > div input:not(:-ms-input-placeholder) {
  width: calc(100vw - 86px);
}
div.messagesContainer footer > div input:not(:placeholder-shown) {
  width: calc(100vw - 86px);
}
div.messagesContainer footer > div input:focus {
  outline: none;
}
div.messagesContainer footer > div input:focus::-moz-placeholder {
  color: transparent;
}
div.messagesContainer footer > div input:focus:-ms-input-placeholder {
  color: transparent;
}
div.messagesContainer footer > div input:focus::placeholder {
  color: transparent;
}
div.messagesContainer footer > div > div.msg-infos {
  color: rgb(80, 80, 80);
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
  width: calc(100vw - 86px);
}

/*  
   ============
     Messages
   ============
*/
li.msg {
  width: 100vw;
  min-height: 40px;
  padding: 8.5px 9px 8.5px 8px;
  margin-bottom: 4px;
}
li.msg.status {
  background-color: rgb(220, 220, 220);
}
li.msg.message {
  background-color: rgb(255, 255, 255);
}
li.msg.private_message {
  background-color: rgb(255, 222, 222);
}
li.msg p {
  display: inline;
  font-size: 14px;
  line-height: 23px;
}
li.msg b {
  font-weight: 700;
}
li.msg b.time {
  color: rgb(170, 170, 170);
  font-weight: 400;
}

/*  
   =============
     Side Menu
   =============
*/
div.sideMenuContainer {
  visibility: hidden;
  grid-column: 1;
  grid-row: 1;
  width: 100vw;
  z-index: 1;
  display: flex;
}
div.sideMenuContainer.clicked {
  visibility: visible;
}
div.sideMenuContainer div.blackOpaque {
  width: calc(100vw - 259px);
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
}
div.sideMenuContainer div.sideMenu {
  background-color: rgb(255, 255, 255);
  width: 259px;
  padding: 0 20px;
}
div.sideMenuContainer div.sideMenu div.title {
  color: rgb(0, 0, 0);
  font-weight: 700;
  height: 80px;
  font-size: 16px;
  line-height: 19px;
  justify-content: center;
  text-align: center;
  margin: 4px 0;
}
div.sideMenuContainer div.sideMenu div.title:last-of-type {
  height: 53px;
  padding-top: 9px;
}
div.sideMenuContainer div.sideMenu li {
  width: 100%;
  height: 36px;
  font-size: 16px;
  line-height: 40px;
  padding: 0;
  margin: 1px 0;
  display: flex;
  justify-content: space-between;
}
div.sideMenuContainer div.sideMenu li:hover {
  cursor: pointer;
}
div.sideMenuContainer div.sideMenu li:hover div,
div.sideMenuContainer div.sideMenu li ion-icon {
  cursor: pointer;
}
div.sideMenuContainer div.sideMenu li div {
  max-width: 205px;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}
div.sideMenuContainer div.sideMenu li div ion-icon {
  width: 22px;
  height: 40px;
  margin-right: 7px;
}
div.sideMenuContainer div.sideMenu li div div {
  overflow: hidden;
}
div.sideMenuContainer div.sideMenu li div div div.userName {
  max-width: 176px;
  height: 36px;
}
div.sideMenuContainer div.sideMenu li > ion-icon {
  display: none;
  color: rgb(40, 187, 37);
  width: 14px;
  --ionicon-stroke-width: 96px;
  margin: auto 0;
}
div.sideMenuContainer div.sideMenu li.check > ion-icon {
  display: block;
}
div.sideMenuContainer div.sideMenu div.usersContainer {
  overflow-y: scroll;
  overflow-x: hidden;
}
div.sideMenuContainer div.sideMenu div.usersContainer ul.users {
  margin: 1px 0;
}/*# sourceMappingURL=style.css.map */